		<h2 id="page_title"><%=Comment_Count(this.kindId,  model.Id)%> 条评论</h2>
		<div id="comment">
			<div id="commentList">
				显示评论列表
			</div>
			<%if(Comment_Count(this.kindId, this.Id)>0) {%>
            <div id="pagination" class="scott"></div>
            <%} %>
            <div class="clear"></div>
			<!--用户评价开始-->
			<div class="commentform clearfix">
				<div class="nTitle">发表评论</div>
				<form id="comment_form" name="comment_form">
					<dl>
						<dt>用户昵称：</dt>
						<dd style="width:250px;">
							<input name="txtUserName" type="text" maxlength="30" class="input2 required">
							&nbsp;</dd>
						<dt>评价等级：</dt>
						<dd>
                          <span id="stars" class="star star0">
                            <a title="一星级">1</a>
                            <a class="a2" title="二星级">2</a>
                            <a class="a3" title="三星级">3</a>
                            <a class="a4" title="四星级">4</a>
                            <a class="a5" title="五星级">5</a>
                          </span>&nbsp;
                          <input id="hidStar" name="hidStar" type="hidden" value="" class="required" />
                        </dd>
					</dl>
					<dl>
						<dt>评论内容：</dt>
						<dd>
							<textarea name="txtContent" class="textarea required" minlength="5" maxlength="3000"></textarea>
							&nbsp;</dd>
					</dl>
					<dl>
						<dt>验证码：</dt>
						<dd style="width:385px;">
							<input name="txtCode" type="text" class="input2 required" minlength="4" maxlength="5" style="width:50px;">
							<a href="javascript:void(0);" onclick="ToggleCode(this, '<%=SiteConfig.WebPath%>Tools/VerifyCodeImage.ashx');return false;"><img src="<%=SiteConfig.WebPath%>Tools/VerifyCodeImage.ashx" width="80" height="22" alt="点击切换验证码" style="vertical-align:middle;"> 看不清楚？</a> </dd>
						<dd>
							<input id="btnSubmit" name="btnSubmit" type="submit" class="submit2" value="提交评论">
						</dd>
					</dl>
					<div class="clear"></div>
				</form>
			</div>
			<!--用户评价结束-->
		</div>