<div class="top">
	<!-- ===== LOGO ===== -->
	<h1><a href="<%=SiteConfig.WebUrl%>">LidyCms</a></h1>
	<a href="<%=SiteConfig.WebUrl%>" target="_blank" class="dt_logo">动力起航</a>
	<!-- ===== 导航 ===== -->
	<ul class="nav">
		<li><a href="<%=URLRewrite("index", "")%>">主页</a></li>
		<li><a href="<%=URLRewrite("News", "")%>">资讯中心</a></li>
		<li><a href="<%=URLRewrite("picture", "")%>">图文中心</a></li>
		<li><a href="<%=URLRewrite("download", "")%>">下载中心</a></li>
		<li><a href="<%=URLRewrite("feedback", "")%>">在线留言</a></li>
		<li><a href="<%=URLRewrite("content", "about")%>">关于我们</a></li>
		<li><a href="<%=URLRewrite("content", "contact")%>">联系我们</a></li>
	</ul>
</div>