<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=model.Title %> - <%=SiteConfig.WebName%></title>
<!-- ===== seo ===== -->
<%=AddMetaInfo(SiteConfig.WebKeywords, SiteConfig.WebDescription)%>
<!-- ===== css ===== -->
<link rel="shortcut icon" href="<%=SiteConfig.WebPath%>favicon.ico" mce_href="<%=SiteConfig.WebPath%>favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="<%=SiteTemplatePath("default")%>css/style.css" />
<script type="text/javascript" src="<%=SiteConfig.WebPath%>js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="<%=SiteTemplatePath("default")%>js/base.js"></script>
<%template src=/_comment_js.htm/%>
</head>
<body>
<%template src=/_warning_ie6.htm/%>
<%template src=/_header.htm/%>
<!-- ===== 正文内容 ===== -->
<div class="container">
	<%template src=/_search_box.htm/%>
	<div class="clear"></div>
	<!-- ===== 面包屑与功能按钮 ===== -->
	<div class="bread_crumbs"><a href="<%=URLRewrite("index", "")%>">主页</a> > <a href="<%=URLRewrite("download", "")%>">下载中心</a>  <%=GetChannel_Menu("download_list1", model.ClassId) %>
		<div class="right_function_key"> <a href="javascript:void(0);" onclick="SetFontSize('.content_box', 12);"><img src="<%=SiteTemplatePath("default")%>images/font_delete.png" width="16" height="16" /> 缩小</a><a href="javascript:void(0);" onclick="SetFontSize('.content_box', 14);"><img src="<%=SiteTemplatePath("default")%>images/font_add.png" width="16" height="16" /> 放大</a><a href="javascript:window.print();"><img src="<%=SiteTemplatePath("default")%>images/printer.png" width="16" height="16" /> 打印</a> </div>
	</div>
	<!-- ===== 左侧正文 ===== -->
	<div class="page_left">
		<h2 id="news_title"><%=model.Title %></h2>
		<i class="date_i">所属类别：<%=GetChannel_Title(model.ClassId)%> &nbsp;&nbsp; 浏览数量：<%=model.Click%> &nbsp;&nbsp; 发布时间：<%=model.AddTime%></i>
		<!-- ===== 编辑框内容 开始 ===== -->
		<div class="content_box">
			<%=model.Content%>
			<!-- ===== 下载页面固定格式 ===== -->
			<div class="blue_box"><a href="<%=SiteConfig.WebPath%>Tools/download.ashx?id=<%=model.Id %>">下载 <%=model.Title%></a></div>
			<p>文件类型：<%=model.FileType%><br />
				文件大小：<%=model.FileSize < 1024 ? model.FileSize + " KB" : (model.FileSize / 1024).ToString("#.##")+" MB"%><br />
				下载次数：<%=model.DownNum%><br />
			</p>
		</div>
		<div class="addthis">
			<!-- JiaThis Button BEGIN -->
			<div id="ckepop"><a href="http://www.jiathis.com/share/" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享</a><span class="jiathis_separator">|</span> <a class="jiathis_button_qzone"></a><a class="jiathis_button_tsina"></a><a class="jiathis_button_icons_1"></a><a class="jiathis_button_icons_2"></a></div>
			<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js" charset="utf-8"></script>
			<!-- JiaThis Button END -->
		</div>
		<div class="clear"></div>
		<!-- ===== 前后与返回 Previous, Next and Back ===== -->
		<div class="p_n_b">
		    <%if(GetDownloadsId("IsLock=0 and Id<" + model.Id)>0){%>
		    <a class="previous" href="<%=URLRewrite("download_show", GetDownloadsId("IsLock=0 and Id<" + model.Id))%>">« 上一篇</a>
		    <%}else{ %>
		     <a class="previous">上一篇没有啦</a>
		    <%} %>
		    <a class="back" href="javascript:history.back(-1);">返回</a>
		    <%if(GetDownloadsId("IsLock=0 and Id>" + model.Id)>0){%>
		    <a class="next" href="<%=URLRewrite("download_show", GetDownloadsId("IsLock=0 and Id>" + model.Id))%>">下一篇 »</a>
		    <%}else{ %>
		     <a class="next">下一篇没有啦</a>
		    <%} %>
		</div>
		<div class="clear"></div>
		<!-- ===== 用户留言评论 ===== -->
		<%if(model.IsMsg > 0){ %>
        <%template src=/_comment_box.htm/%>
        <%} %>
	</div>
	<!-- ===== 左侧子导航 ===== -->
	<div class="page_right">
		<h3>下载类别</h3>
		<ul class="sidebar_nav">
			<%=GetChannel_List(this.kindId, 0, "download_list1")%>
		</ul>
		<h3>推荐下载</h3>
		<ul class="sidebar_news">
			<DtContorl:Repeater ID="rptList2" runat="server" onload="Download_List_DataBind" Top="8" Where="IsLock=0 and IsRed=1">
              <ItemTemplate>
			    <li><a href="<%#URLRewrite("download_show", Eval("Id")) %>"><%#Eval("Title")%></a><i><span><%#Comment_Count(this.kindId,  Convert.ToInt32(Eval("Id")))%> 评论</span><%#Eval("AddTime")%></i></li>
              </ItemTemplate>
            </DtContorl:Repeater>
		</ul>
	</div>
	<div class="clear"></div>
</div>
<%template src=/_footer.htm/%>
</body>
</html>
