@{
    ViewBag.Title = "爱的礼物";
}
@section AddToHead{
    <link href="@Url.Content("/Content/Css/jquery.slideBox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/Css/jscroll.css")" rel="stylesheet" type="text/css" />
}
<div class="main_body bg3">
    <div class="c1200 gift giftdetail">
        <div class="main_left">
            <div id="slideBox" class="slideBox giftBox">
                <ul class="items">
                    <li><a href="#" title="标题一">
                        <img src="/content/images/focus1.jpg"></a></li>
                    <li><a href="#" title="标题一">
                        <img src="/content/images/focus2.jpg"></a></li>
                    <li><a href="#" title="标题一">
                        <img src="/content/images/focus3.jpg"></a></li>
                    <li><a href="#" title="标题一">
                        <img src="/content/images/focus4.jpg"></a></li>
                </ul>
            </div>
        </div>
        <!-- 右边礼物列表 -->
        <div class="main_right">
            <div class="newsdatail">
                <span id="Titles">传承金玉文化 孕福东方时尚&mdash;&mdash;恒星珠宝广州活动盛大开幕</span> | <span id="AddTime">
                    2013/9/10 0:00:00</span></div>
            <div class="main giftmain" id="content">
                <div style="line-height: 26px; font-size: 16px; text-indent: 2em; color: #bda77c"
                    class="newslist" id="NR">
                    <p>
                        &nbsp; &nbsp;金秋九月，硕果飘香。伴随2013深圳国际珠宝展览会的到来，恒星珠宝"传承金玉文化，孕福东方时尚"主题活动于9月9号在广州华林玉器广场火热开展！
                    </p>
                    <p>
                        &nbsp; &nbsp;恒星珠宝广州荔湾店位于</p>
                    <p>
                        当地繁华街区华林玉器广场，室内设计精致时尚，散发典雅高贵气息，与恒星品牌追求时尚、创新的理念相符合。柜台上陈列的金镶玉产品款式新颖，丰富多样，多层次价格满足了消费者的各类需求。据悉，此次主题活动以金镶玉产品为载体，多角度、多层次挖掘与传播金玉文化，让全世界感受东方时尚之魅力，聚集56个民族同"孕福"，彰显企业气魄，诠释企业胸怀，象征着全球华人同怀一个中国梦。活动邀请到一百多位美丽大方的模特们进行现场走秀，让在座的观众大开眼界。尤其是56个民族的"孕福模特"，以特殊的服装造型孕育了恒星珠宝将带给所有人类祈福与幸福的伟大梦想。另外6名高端模特在现场为大家展示了高贵大气的经典之作，同时也彰显了品牌深厚的金玉文化及创新的产品开发理念。
                    </p>
                    <p style="text-align: center;">
                       
                    </p>
                    <p style="text-align: center;">
                        伍海燕总经理与所有模特现场合影
                    </p>
                    <p style="text-align: left;">
                        &nbsp; 为了丰富活动的精彩内容，活动还特别推出了清新爽朗的"女子水晶乐坊演奏"；神奇与奥妙的"魔术表演"，让大家见证了魔术师接二连三地把恒星珠宝的瑞兽呈祥、水立方、琴棋书画等系列玩转于手掌之中；传统又古典的"脸谱变脸"，将京韵五味产品演绎得淋漓尽致；最后压轴舞蹈"肩上芭蕾"，更是让观众感受到了用生命在跳舞的奇迹。众多特色民族类节目，为活动现场的广州市民赢得了无数的欢乐与掌声。在心与心，爱与爱传递中，让更多人享受到恒星给予的这份一杯(辈)子的祈福与感动。
                    </p>
                    <p style="text-align: center;">
                        
                    </p>
                    <p style="text-align: center;">
                        恒星珠宝《金凤逐日》精品系列
                    </p>
                    <p style="text-align: center;">
                       
                    </p>
                    <p style="text-align: center;">
                        恒星珠宝《喜鹊登梅》精品系列
                    </p>
                    <p style="text-align: left;">
                        <br>
                    </p>
                    <p>
                        &nbsp; &nbsp;活动晚宴伊始，恒星珠宝总经理伍海燕女士发表致辞。她表示，恒星珠宝经过上一个十年的栉风沐雨，已在全国八大城市设立分店，首创国内金镶玉电子交易平台，公司主导创新行业思维，建立360全国一站式供货平台，实现年产300万件的市场供应量，在全国珠宝行业深深打下了属于恒星自己的金字烙印。特别是此次活动的开展，让国人对金玉文化有了更深的理解，对恒星品牌有了更多的认识。同时，伍海燕对一直以来全力支持和关爱恒星珠宝的同行致以诚挚感谢，并表示恒星将会一如既往地贯彻创新举措，不断完善，不断突破，实现中国珠宝行业的更大发展。
                    </p>
                    <p style="text-align: center;">
                        
                    </p>
                    <p style="text-align: center;">
                        活动晚宴伍海燕总经理致辞
                    </p>
                    <p style="text-align: left;">
                        <br>
                    </p>
                    <p>
                        &nbsp; &nbsp;此外，在2013深圳珠宝展之际，3500多款璀璨新品、11万余件经典货品隆重亮相深圳会展中心（展位号：9A43-9A66）、深圳恒星珠宝批发中心一店和二店、广州恒星珠宝批发中心。产品涵盖以千足金、硬金、K金、铂金、钯金、银、七彩金等镶嵌和田玉、玉髓、翡翠、钻石、彩宝，以及商务礼品、摆件等，款式丰富多样。并且，恒星珠宝还将于9月15号在深圳星河丽思卡尔顿酒店正式开启"孕福希望·商瞩未来&mdash;&mdash;2013恒星珠宝旗下品牌新品发布会暨品牌发布会"活动，尊享极致珠宝盛宴，见证行业巨舰蓄势起航，远见未来珠宝名流，300座虚位以待，敬邀参加！（详情咨询热线：400-7776-888，400-0689-888官方网站：<a
                            target="_blank" href="http://www.hxzb.com/"><span style="color: #999999;">http://www.hxzb.com</span></a>）
                    </p>
                    <p style="text-align: center; text-indent: 21pt;">
                        <br>
                    </p>
                </div>
                <!--dv_scroll_bar end-->
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/Scripts/jquery.slideBox.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jscroll.js")" type="text/javascript"></script>
<script type="text/javascript">
    //滚动图
    $('#slideBox').slideBox({
        direction: 'left', //left,top#方向
        duration: 0.3, //滚动持续时间，单位：秒
        easing: 'swing', //swing,linear//滚动特效
        delay: 5, //滚动延迟时间，单位：秒
        hideClickBar: false, //不自动隐藏点选按键
        clickBarRadius: 10, //按钮radius  
        startIndex: 1//初始焦点顺序
    });
    //文字滚动
    $("#content").jscroll({
        W: "8px"
	  , Bg: "#646060 -26PX 0 repeat-y" //滚动条背景
	  , Bar: { Bd: { Out: "#E3E3E3", Hover: "#E3E3E3"} //滚动按钮边框
			, Bg: { Out: "#E3E3E3 -50px 0 repeat-y", Hover: "#E3E3E3 -50px 0 repeat-y", Focus: "#E3E3E3 -50px 0 repeat-y"} //背景
	  }
			, Btn: { btn: true
				  , uBg: { Out: "0 0", Hover: "0 0", Focus: "0px 0" }
				  , dBg: { Out: "0 -21px", Hover: "0 -21px", Focus: "0 -21px" }
			}
	  , Fn: function () { }
    });
</script>