<?xml version="1.0" encoding="utf-8" ?> 
<urls>
  <rewrite name="index"
        path="/index.aspx"
        pattern = "/index.aspx$"
        page="/index.aspx"
        querystring="" />

  <rewrite name="News"
        path="/News.aspx"
        pattern = "/News.aspx$"
        page="/News.aspx"
        querystring="" />
  <rewrite name="News_list1"
        path="/News/{0}.aspx"
        pattern = "/News/(\d+)*.aspx$"
        page="/News.aspx"
        querystring="classId=$1" />
  <rewrite name="News_list2"
        path="/News/{0}/{1}.aspx"
        pattern = "/News/(\d+)*/(\w+).aspx$"
        page="/News.aspx"
        querystring="classId=$1^page=$2" />
  <rewrite name="News_show"
        path="/News/show/{0}.aspx"
        pattern = "/News/show/(\d+).aspx$"
        page="/News_show.aspx"
        querystring="id=$1" />
  
  <rewrite name="picture"
        path="/picture.aspx"
        pattern = "/picture.aspx$"
        page="/picture.aspx"
        querystring="" />
  <rewrite name="picture_list1"
        path="/picture/{0}.aspx"
        pattern = "/picture/(\d+)*.aspx$"
        page="/picture.aspx"
        querystring="classId=$1" />
  <rewrite name="picture_list2"
        path="/picture/{0}/{1}.aspx"
        pattern = "/picture/(\d+)*/(\w+).aspx$"
        page="/picture.aspx"
        querystring="classId=$1^page=$2" />
  <rewrite name="picture_show"
        path="/picture/show/{0}.aspx"
        pattern = "/picture/show/(\d+).aspx$"
        page="/picture_show.aspx"
        querystring="id=$1" />
  
  <rewrite name="download"
        path="/download.aspx"
        pattern = "/download.aspx$"
        page="/download.aspx"
        querystring="" />
  <rewrite name="download_list1"
        path="/download/{0}.aspx"
        pattern = "/download/(\d+)*.aspx$"
        page="/download.aspx"
        querystring="classId=$1" />
  <rewrite name="download_list2"
        path="/download/{0}/{1}.aspx"
        pattern = "/download/(\d+)*/(\w+).aspx$"
        page="/download.aspx"
        querystring="classId=$1^page=$2" />
  <rewrite name="download_show"
        path="/download/show/{0}.aspx"
        pattern = "/download/show/(\d+).aspx$"
        page="/download_show.aspx"
        querystring="id=$1" />
  
  <rewrite name="content"
        path="/content/{0}.aspx"
        pattern = "/content/(\w+).aspx$"
        page="/content.aspx"
        querystring="page=$1" />

  <rewrite name="feedback"
        path="/feedback.aspx"
        pattern = "/feedback.aspx$"
        page="/feedback.aspx"
        querystring="" />
  <rewrite name="feedback_list1"
        path="/feedback/{0}.aspx"
        pattern = "/feedback/(\w+).aspx$"
        page="/feedback.aspx"
        querystring="page=$1" />
  
  <rewrite name="link"
        path="/link.aspx"
        pattern = "/link.aspx$"
        page="/link.aspx"
        querystring="" />
</urls>