<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>LidyCms网站内容管理系统</WebName>
  <WebUrl>http://www.xinghengxing.cn</WebUrl>
  <WebTel>13695245546</WebTel>
  <WebFax>0757-22687058</WebFax>
  <WebEmail>admin@it134.cn</WebEmail>
  <WebCrod>粤ICP备000000号</WebCrod>
  <WebKeywords />
  <WebDescription />
  <WebCopyright>Copyright Right © 2014-2014 xinghengxing.com Powered By LidyCms Inc</WebCopyright>
  <WebPath>/</WebPath>
  <WebManagePath>Admin</WebManagePath>
  <WebFilePath>UpLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS|TXT</WebFileType>
  <WebFileSize>10240</WebFileSize>
  <WebLogStatus>0</WebLogStatus>
  <WebKillKeywords>and|exec|insert|select|delete|update|chr|mid|master|or|truncate|char|declare|join|cmd</WebKillKeywords>
  <IsUrlRewrite>1</IsUrlRewrite>
  <IsCheckFeedback>0</IsCheckFeedback>
  <IsCheckComment>0</IsCheckComment>
  <NewsPageNum>15</NewsPageNum>
  <PicturePageNum>14</PicturePageNum>
  <DownPageNum>15</DownPageNum>
  <ContentPageNum>15</ContentPageNum>
  <FeedbackPageNum>15</FeedbackPageNum>
  <LinkPageNum>15</LinkPageNum>
  <CommentPageNum>10</CommentPageNum>
  <AdPageNum>15</AdPageNum>
  <LogPageNum>15</LogPageNum>
  <ManagePageNum>15</ManagePageNum>
  <NewsPageNum_Client>10</NewsPageNum_Client>
  <PicturePageNum_Client>20</PicturePageNum_Client>
  <DownPageNum_Client>20</DownPageNum_Client>
  <FeedbackPageNum_Client>20</FeedbackPageNum_Client>
  <CommentPageNum_Client>10</CommentPageNum_Client>
  <IsThumbnail>1</IsThumbnail>
  <ProWidth>196</ProWidth>
  <ProHight>196</ProHight>
  <IsWatermark>2</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>5</ImgWaterTransparency>
  <WaterText>www.it134.cn</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>18</FontSize>
  <TemplateSkin>default</TemplateSkin>
</WebSet>